<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Trade Predictor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "../static/css/style.css">
</head>

<body>

  <div class="jumbotron jumbotron-fluid text-center" id="dashboard-title">
    <div class="container">
      <h1>Stock Trade Predictor</h1>
    </div>
  </div>
  

  
  <div class = "container" id="input-output">
    <div class = "row">  
      <p>
        Technical analysis is a trading discipline employed to evalute investments and identify trading opportunities in price trends and patterns seen on charts. 
        Technical analysts believe past trading activity and price changes of a security can be valuable indicators of the security's future price movements. 
        Financial news, market announcements, corporate news, or analyst forecasts form expectations and opinions of investors are reflected in volatile stock market reactions.
      </p>
      <p>
        Enter a news headlines to get your trade predictions of HOLD/ BUY/ SELL a stock.
      </p>
      <br>
      <div class="col-md-3"></div>
        <div class = "col-md-3">
        
        <form method='post'>
          <div class="form-group" id="headline-entry">
            <label for="exampleInputEmail1">Enter the news Headline:</label>
            <input type="text" class="form-control" name="headline"  placeholder="Enter headlines" >
        </div>
        <button class="button"  type="submit" class="btn btn-primary">Submit</button>
     
        </form>

        <br>
        <br>
        <br>

        <div id="output">
          {% if action %}
          <p>{{ action }} </p>
            {% endif %}
        </div>

        </div>
      </div>
    </div>
  </div>
  
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="static/js/logic.js"></script>
  
</body>

</html>